{% extends 'layout.html' %}
{% block body %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Library Management System</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">A Library Management Web Application built in fulfilment of assignment of <a
                href="https://www.bettrsw.com/" style="text-decoration: none; color: unset;"> Better. Allows a librarian to track books and members.</a>
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/books" class="btn btn-outline-secondary btn-lg px-4">Books</a>
            <a href="/members" class="btn btn-outline-secondary btn-lg px-4">Members</a>

        </div>
    </div>
</div>
{% endblock %}